<ul>
  <li><a href="/admin">accueil admin</a></li>
  <li><a href="/jardin">accueil utilisateur</a></li>
  <li><a href="/">accueil</a></li>
  <li><a href="/admin/connexion">page de connexion admin</a></li>
  <li><a href="/admin/gestionAdmin">page de gestion admin</a></li>
  <li><a href="/legumes">Listes des légumes</a></li>
</ul>